@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-title {
  font-family: 'Exo 2', sans-serif;
  color: #23E1B9;
  margin: 10px 0;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

.map-container {
  flex: 1;
  position: relative;
}