@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.signup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.signup-popup {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    position: relative;
    font-family: 'Patrick Hand', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.signup-popup h2 {
    margin-top: 10px;
    color: #333;
    font-size: 27px;
}

.close-signup {
    position: absolute;
    top: 4px;
    right: 10px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #999;
    transition: color 0.3s ease;
    padding: 0;
}

.close-signup:hover {
    color: #333;
}

.login-button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(230, 247, 254, 0.65);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-family: 'Patrick Hand', sans-serif;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    background-color: rgba(230, 247, 254, 0.85);
    transform: scale(1.05);
}

.login-button img {
    width: 24px;
    height: 24px;
}